<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MOVIELI</a>
    <%= link_to 'New List', new_list_path, class: "btn btn-outline-success my-2 my-sm-0 ms-2" %>
    <%= link_to 'My Lists', lists_path, class: "btn btn-outline-success my-2 my-sm-0 ms-2" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="ms-auto flex">
        <form class="d-flex my-2 my-lg-0">
          <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search" value="">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<p>--------------------------------------This is going to be a banner----------------------------------</p>
<br>
<h1>Save any kind of movies</h1>
<p>Classic List</p>
<%= link_to "Create a movie list", new_list_path%>
<br>
<p>--------------------------------------This is going to be a banner----------------------------------</p>

<div class="container w-100">

  <div id="lists" class="row">
    <% @lists.each do |list| %>
      <div class="card flower-bg m-3" style="width: 300px; height: 300px;">
        <div class="d-flex justify-content-center"><%= link_to list.name, list_path(list), class:"text-decoration-none bold" %></div>
      </div>
    <% end %>
  </div>

</div>
